/* Importacion de fuentes desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
/* defino el margin y padding en 0, quitando el automatico que me hace el html */
*{
    margin: 0;
    padding: 0;
}
/* Use ul porque ninguna lista quiero que tenga los puntos al estilo item */
ul{
    list-style: none;
}
/* voy cambiando el color del fondo de la pagina por seccion*/
.fondoLogo , .menu, footer{
    background-color: rgb(31, 3, 63);
}
/* aplico propiedades de CSS en el logo principal de la pagina */
.submenu:first-child{
    position: relative;
    left: 1800px;
}
.logo
{
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bellota Text', cursive;
    position: relative;
    left: 900px;
}
/* Submenu del header */
.submenu{
    color: rgb(255, 255, 255);
    letter-spacing: normal;
    font-style: oblique;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bellota Text', cursive;
    display: inline-block;
}

.banner{
    background-image: url(../multimedia/background/csgoFondo.jpg);
    background-attachment: fixed;
    width: 100%;
    background-position: center;
    opacity: 80%;
}

#ak47PlanosCaoticos
{
    width: 100%;
    background-repeat: no-repeat;

}
#ak47AceroTemplado
{
    width: 100%;
    background-repeat: no-repeat;
}
#awpHiperBestia{
    width: 100%;
    background-repeat: no-repeat;
}

.producto1{
    position: relative;
    left: 100px;
    
}

.producto2{
    position: relative;
    left: 600px;
    bottom: 395px;
    
}

.producto3{
    position: relative;
    left: 1100px;
    bottom: 790px;
    
}
.producto4{
    position: relative;
    left:100px;
    bottom: 700px;
    
}
.producto5{
    position: relative;
    left: 600px;
    bottom: 1100px;
    
}
.producto6{
    position: relative;
    left: 1100px;
    bottom: 1500px;
    
}
.textosDeTienda{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;
    letter-spacing: normal;
    background-color: transparent;
    font-family: 'Khand', sans-serif;
}

.textos{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;
    letter-spacing: normal;
    background-color: transparent;
    font-family: 'Khand', sans-serif;
}

h1
{
    position: relative;
    left: 1000px;
    right:1000px;
    font-size: 50px;
    display: inline;
}